* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

html,
body {
  border: none;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}

.container {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, 1fr);
  max-width: 2560px;
  height: 100vh;
}

/* ---------------- HEADER ---------------- */
.header {
  grid-area: 1 / 2 / 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 1px 3px 2px #6969693f;
}

.searchContainer {
  display: grid;
  grid-template-columns: auto 8fr 2fr auto auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem 4rem 0 4rem;
}

.profile {
  justify-self: center;
}

.notifications {
  justify-self: end;
}

.userName {
  justify-self: right;
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

#search {
  background-color: #ccd9e1;
  height: 30px;
  border-radius: 15px;
  text-indent: 1rem;
}

.headerButtons {
  display: grid;
  grid-template-columns: auto 10fr auto auto auto;
  align-items: center;
  gap: 1.5rem;
  padding: 0 4rem 1rem 4rem;
}

.welcomeMessage {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.welcomeMessage > p {
  font-size: 0.75rem;
  align-self: center;
}

.welcomeMessage > h1 {
  font-size: 1.5rem;
}

.headerButtons > button {
  height: 38px;
  width: 6rem;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background-color: #1789c4;
}

/* ---------------- SIDEBAR ---------------- */
.sidebar {
  grid-area: 1 / 1 / 7 / 2;
  background-color: #1789c4;
  z-index: 2;
  padding: 1rem 0 0 1rem;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 5rem;
  min-width: 350px;
}

.sidebar > .logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #fff;
}

.sidebar > .logo > a > #logo {
  margin-top: 10px;
  align-self: center;
}

.nav-1,
.nav-2 {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.sidebar .text {
  justify-self: flex-start;
  color: #fff;
  font-size: 1.4rem;
}

/* ---------------- MAIN ---------------- */
.main {
  grid-area: 2 / 2 / 7 / 3;
  display: grid;
  grid-template-columns: 3fr 350px;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
  background-color: #ccd9e1;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-bg {
  display: grid;
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 0px #6969693f;
}

/* --- projects --- */

.main > .projects {
  grid-area: 1 / 1 / 3 / 2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding-top: 1rem;
}

.project-card > .project-title {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.project-card > .project-details {
  color: #444444be;
  font-weight: normal;
}

.project-card > .project-links {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 2rem;
  padding-top: 2rem;
}

#project-link-1 {
  grid-column-start: 2;
}

/* --- announcements --- */

.main > .announcements,
.trending {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.announcements-container > .announcement > h3 {
  padding-bottom: 3px;
}

.announcements-container > .announcement > p {
  color: #444444be;
  font-weight: normal;
}

.announcements-container > hr {
  border-top: 2px solid rgba(82, 82, 82, 0.137);
}

/* --- trending --- */

.trending > .main-title {
  padding-top: 1.2rem;
}

.trending-container {
  align-content: space-around;
}

.trending-container > .user {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.trending-container > .user > .user-info {
  display: grid;
  color: #444444be;
}

.trending-container > .user > .user-info > .user-tag {
  color: black;
}

.trending-container > .user > .user-info > .project-link {
  font-weight: normal;
}
