* {
  /* border: 2px solid black; */
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  border: none;
}

body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 2560px;
  flex: 1 1 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
}

.header {
  border-color: hotpink;
  grid-area: 1 / 2 / 1 / 3;
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.searchContainer {
  border-color: chartreuse;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 2fr;
  align-items: center;
  padding-left: 1rem;
}

.notifications,
.profile {
  border-color: darkorange;
  justify-self: center;
}

.userName {
  justify-self: left;
}

.headerButtons {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.sidebar {
  grid-area: 1 / 1 / 7 / 2;
  background-color: #1789c4;
}

.main {
  grid-area: 2 / 2 / 7 / 3;
  background-color: #ccd9e1;
}
